#Wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  overflow: hidden;
  background-color: yellow;
}

#Wrap .FollowBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 250px;
}

#Wrap .FollowBox:nth-child(1) {
  z-index: 4;
}

#Wrap .FollowBox:nth-child(2) {
  z-index: 3;
}

#Wrap .FollowBox:nth-child(3) {
  z-index: 2;
}

#Wrap .FollowBox:nth-child(4) {
  z-index: 1;
}

:root {
  font-family: Helvetica;
}

::-webkit-scrollbar {
  display: none;
}
