{% extends "_shared/templates/default.html" %}

{% block content %}
<div id="Wrap">
  <img class="FollowBox" src="/img/Monkey_07_lfx9f9.jpg" alt="">
  <img class="FollowBox" src="/img/Monkey_07_lfx9f9.jpg" alt="">
  <img class="FollowBox" src="/img/Monkey_07_lfx9f9.jpg" alt="">
  <img class="FollowBox" src="/img/Monkey_07_lfx9f9.jpg" alt="">

</div>
<div class="wrapper">
  <header>
    <div class="logo">
      <img src="/img/vulkano-logo-optimized.png" alt="">
    </div>
    <div class="title">
      <span class="title">Vulkano</span>
      <span class="tagline">Awesome MVC framework for Node.js</span>
    </div>
  </header>
  <h1>It works!</h1>

</div>


{% endblock %}
